*{
    font-family: Arial, Helvetica, sans-serif;
    
}

.texto{
    
    color: aliceblue;

}

h1{
    margin-top: 5%;
    font-size: 50px;
}

h2{
    font-size: 30px;
}

p{
    font-size: 20px ;
}

body{
    background-image: linear-gradient(to right, #0075ea, #b5a4a4);
}


img {

    max-width: 300px;
    transition: transform 0.5s;
}

#text{
    margin-left: 3%;
}

#img2{
    border-top-left-radius: 20px;
}
#img3{
    border-top-right-radius: 20px;
}
#img4{
    border-bottom-left-radius: 20px;
}
#img5{
    border-left: 25px;
}

img:hover {
        transform: scale(1.1);
      }


.grid{

    margin-left: 69%;
    margin-top: -600px;
    display: grid;
    grid-template-columns: 300px 300px;
}
.voltar{
    text-decoration: none;
    margin-left: 50%;
}