* {
  margin: 0;
}
body {
  background-color: rgba(238, 239, 240, 0.849);
  background-image: url("imagens/IA.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
h1 {
  background-image: url("imagens/por\ atrás\ do\ titulo.jpg");
  text-align: center;
  border: 2px solid black;
  margin: 5px;
  font-size: 30px;
}
.login {
}
.login a {
  display: flex;
  margin-top: 10px;
  justify-content: center;
  text-decoration: none;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  border: 2px solid rgb(116, 116, 116);
  border-radius: 10px;
  margin-left: auto;
  margin-left: 90%;
}

.banner img {
  max-width: 100%;
}
.categoria {
  background-color: rgb(236, 235, 235);
  height: 900px;
  margin-left: 20px;
  border: 1px solid black;
  border-radius: 5px;
}
ul p {
  margin-top: 50px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  font-size: 30px;
}
ul li {
  list-style: none;
  margin-top: 50px;
}
ul li:hover {
  background-color: bisque;
}
.grid {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr 5fr;
}
.produto {
  border: 1px solid;
  border-radius: 5px;
  text-align: center;
  display: grid;
  grid-template-columns: 350px 350px 350px;
  margin-left: 50px;
  transition: transform 0.3s ease;
}

.produto a {
  text-decoration: none;
}
.img {
  border: 1px solid rgb(255, 255, 255);
  border-radius: 10px;
  margin-left: 70px;
  background-color: rgb(255, 255, 255);
  margin-top: 10px;
}
.img:hover {
  transform: scale(1.1);
}
.informacao {
  color: blue;
  font-weight: bolder;
  font-size: 20px;
}
.informacao2 {
  font-style: italic;
}
.informacao3 {
  font-size: 30px;
}
.informacao4 {
  font-weight: bolder;
  font-size: 20px;
  color: rgb(21, 255, 0);
}
.img img {
  border: 1px solid rgb(255, 255, 255);
  width: 200px;
  height: 200px;
}
.img p {
  margin-bottom: 50px;
}
