html{
    width: 100vw;
    height: 100vh;
}
*{
    margin: 0;
}
body{
   
    background-image: url(download.jpg);
    background-size: contain;
}
.a{
    background-color: rgb(0, 0, 0);
}
#a{
    position: relative;
    float: right ;
    text-decoration: none;
    margin: 10px;
    margin-bottom: 10px;
    margin-left: 40px;
    font-size: 20px;
    display: inline-block;
    color: aliceblue;

    
}
.a h1{
    color: aliceblue;
    position: relative;
    margin-left: 60px;
    display: inline-block;
    font-size: 50px;
}
.imagens{
    
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    align-content: space-between;
}
.imagens img{
    border: 2px solid white;
    width: 308px;
    height: 310px;
    object-fit: cover;
}
.imagens img:hover {
    transform: scale(1.1);
  }
#p{
    position: relative;
    margin-left: 30%;
    margin-top: 5%;
}
#p p{
    background-color: rgba(222, 223, 224, 0.705);
    font-size: 50px;
    text-align: center;
    width: 600px;
    font-weight: bolder;
}
span{
    font-family: cursive;
}

